[Unit]
Description=/home/intai/Eleckanban_linuxR/
After=graphical.target

[Service]
Type=simple
ExecStart=/home/intai/Eleckanban_linuxR/ElecKanban
User=intai
Environment=DISPLAY=:0  # 這行設定用來啟用 GUI

[Install]
WantedBy=graphical.target
